<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Connect with Me</h2>

        <p>
            <strong>LinkedIn:</strong>
            <a href="https://www.linkedin.com/in/asmi-dagar-7b4441289/" target="_blank">
                        linkedin.com/in/asmi-dagar            </a>
        </p>

        <p>
            <strong>GitHub:</strong>
            <a href="https://github.com/asmidagar" target="_blank">
                github.com/asmidagar
            </a>
        </p>
    </div>
</body>
</html>
